<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<GALAXIAN>
	<COLOR_FONDO>
		<R>1.0</R><G>1.0</G><B>0.0</B><A>1.0</A>
	</COLOR_FONDO>
	<VELOCITY_PLAYER>250.0</VELOCITY_PLAYER>
	<VELOCITY_ENEMIES>0.4</VELOCITY_ENEMIES>
	<RESOLUCION>
		<WIDTH_SCREEN>1366</WIDTH_SCREEN>
		<HEIGHT_SCREEN>768</HEIGHT_SCREEN>
		<WINDOWED>true</WINDOWED>
	</RESOLUCION>
</GALAXIAN>